@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');





@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {
 .about-text{
  font-size: 30px;
 }
 .tab-title{
  margin-top: 3rem;
  margin-left: 6rem;
 }
 .tab-contents{
  margin: 0 0 10rem 0;
width: 70vw;
  
  text-align: start;
 }
 .tab-contents ul li span {
  font-size: 45px;
}

.tab-contents ul li {

  font-size: 24px;
  margin: 20px 10px;
  color: white;
}
.wrapper .first-text {
  font-size: 20px;
}
.sec-texts li {
  font-size: 60px;
}
#section-3 .containers {
  float: none;
  width: 100%;
}
#section-3 .contents {
  max-width: 80%;
}
#section-4 .container-2 {
margin: auto;

  width: 100%;
  height: 80%;

}
#section-4 .text-container .text-box {
  color: #f4fafa;
  font-size: 35px;
}
.hover-underline-animation {
  padding-left: 5rem;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Ysabeau Infant';
}
#section-4 h2 {
  font-family: "Audiowide", sans-serif;
  font-size: 65px;
}
.card__face {
  width: 700px;
  height: 500px;
}
.card{
  float: right;
}
.card.is-flipped {
  transform: rotateY(-180deg) translateX(-52vw);

}
}

@media (max-width: 500px) {
  
}