@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("fontp.js");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  scroll-behavior: smooth;
  cursor: none;
  user-select: none;
  text-decoration: none;
  list-style: none;
  -webkit-user-select: none;
}

.cursor {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background: transparent;
  pointer-events: none;
  z-index: 111;
  border: 3px solid #ffffff;
  transition: all 0.01s ease-out;
  animation: moveCursor1 .5s infinite alternate;
}

.expand {
  background: transparent;
  animation: moveCursor2 .3s forwards;
  border: 1px solid #000;
}

@keyframes moveCursor1 {
  0% {
    transform: scale(1);
    border-radius: 50%;
  }

  50% {
    transform: scale(.8);
    border-radius: 0;
  }

  100% {
    transform: scale(.8);
    border-radius: 25%;
  }
}

@keyframes moveCursor2 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.navbar {
  display: flex;
  color: white;
}

#section-1 ul li a {
  padding: 1.25vw;
  font-size: 2.5vw;
  color: white;
  font-family: "Audiowide", sans-serif;
}

#section-1 ul {

  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
  transition-duration: 0.4s;
  top: 0;
  position: fixed;
  z-index: 1100;

}

#section-1 ul li {
  margin: 1.5vw;
}

#section-1 li a:hover {
  border-radius: 20px;
  color: #00fff2;
  font-size: large;
}



#section-1 li a {
  transition-duration: 0.4s;
}

#section-1 ul li a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

body {

  background: #000000;
}

#section-1 {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
}

#section-2 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-3 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-4 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1) {
  color: white;
  animation: opac 1s;

  background-repeat: no-repeat;
  background-size: 100%;

}

section:nth-child(2) {
  color: #ffffff;
  align-items: center;
  background: black;
}

section:nth-child(3) {
  color: white;
  display: flex;
}

section:nth-child(4) {
  color: #42455a;
  background: black;
}

section .container {

  width: 100%;
  margin: 2rem;
}

section h1 {
  font-size: 10rem;
  margin: 20px;
  animation: fade-bottom 0.4s;
  color: #e0ffff;
}

section h2 {
  color: #ffffff;
  font-size: 5rem;
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;

}

#section-2 img {
  display: block;
  float: right;
  margin-right: 13%;
  margin-top: 20px;
  border-radius: 20px;
  transition: linear 0.5s;
filter: grayscale(100%);


  /* margin-right: auto; */

}

#section-2 img:hover {
filter: grayscale(0%);
  transform: scale(1.1);

  /* margin-right: auto; */

}



section .text-container {
  padding-left: 5%;
  display: flex;
  font-size: 2.5vw;

}

section .text-container .text-box {
  color: #f4fafa;
}

/* section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
} */
#section-2 .text-container .text-box p {
  /* text-transform: uppercase; */
  /* font-weight: bold; */
  word-spacing: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }

  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  animation-duration: 0.5s;
  opacity: 0;

}

.reveal.active {
  opacity: 1;
  animation-duration: 0.5s;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-charcter {
  font-family: "Audiowide", sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 10vw;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes opac {
  to {
    opacity: 1;
  }

  from {
    opacity: 0;
  }
}

.content {
  padding-top: 10%;
  margin-bottom: 5%;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.content h2 {
  color: #fff;
  font-size: 6vw;
  position: absolute;
  font-family: "Audiowide", sans-serif;
}

.content h2:nth-child(1) {
  color: transparent;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  -webkit-text-stroke: 2px #03f7ff;
}

.content h2:nth-child(2) {
  color: #083042;
  animation: wave 4s ease-in-out infinite;
}

@keyframes wave {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}


@import url(https://fonts.googleapis.com/css?family=Raleway);


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#section-3 #anit {
  color: #ffffff;
}

#section-3 .main-title {
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

#section-3 .containers {
  padding: 1rem;
  float: left;
  width: 50%;
}

@media screen and (max-width: 640px) {
  .container {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .container {
    width: 33.33333%;
  }
}

#section-3 .containers .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

#section-3 .contents {
  position: relative;
  width: 100%;
  max-width: 33vw;
  margin: auto;
  overflow: hidden;
  transition: 0.7s;
}

#section-3 .contents:hover {
  transform: translateY(-10px);
  transform: scale(1.1);

}

#section-3 .contents .content-overlay {
  background: rgba(0, 0, 0, 0.802);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#section-3 .contents:hover .content-overlay {
  opacity: 1;
}

#section-3 .content-image {
  width: 100%;
  border-radius: 20px;
}

#section-3 .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#section-3 .contents:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

#section-3 .content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 4.5vw;
}

#section-3 .content-details p {
  color: #fff;
  font-size: 0.8em;
}

#section-3 .fadeIn-top {
  top: 20%;
}

#section-3 #anit {
  margin-top: 4rem;

}

pt {
  border-right: solid 3px rgba(0, 255, 0, .75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Asap", sans-serif;
  font-size: 1rem;
  color: rgba(255, 255, 255, .70);
}

/* Animation */
pt {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 472px;
  }
}

.wrapper {
  margin: 6vw;
  display: flex;
  justify-content: center;

}

.wrapper .first-text {
  font-size: 2vw;
  font-family: 'Abel';
  margin: 0;
  color: #ffffff42;
  /* animation: flick 10s infinite; */
}

@keyframes flick {
  from {
    color: white
  }

  to {
    color: #ffffff42;
  }
}

.wrapper .sec-texts {
  height: 100px;
  line-height: 100px;
  overflow: hidden;
}

.sec-texts li {
  position: relative;
  top: 0;
  font-size: 5.5vw;
  color: #0ef;
  list-style: none;
  padding-left: 25px;
  text-shadow: 0 0 10px #0ef;
  animation: slide 12s steps(4) infinite, colorful 6s infinite;
}

@keyframes slide {
  100% {
    top: -390px;
  }
}

@keyframes colorful {
  100% {
    filter: hue-rotate(360deg);
  }
}

.sec-texts li span {
  position: relative;
}

.sec-texts li span::before {
  content: '';
  position: absolute;
  left: 0;
  width: 60vw;
  height: 90px;
  background: #000;
  border-left: 3px solid #0ef;
  animation: typing 1.5s linear infinite alternate;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

#section-4 ul {
  padding: 1rem;
  align-items: center;

}

#section-4 li {
  padding: 0.5rem;
  justify-content: center;
}

#section-4 ul li p {
  width: 100%;
  height: 40px;
  display: flex;
  /* color: #f6f6f6; */
  text-decoration: none;
}

/* #text-contact a:hover{
text-decoration: underline;
text-underline-offset: 1em;
} */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #ffffff;
  list-style: none;
  padding-left: 5vw;
  font-size: 2vw;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.hover-underline-animation::after {
  content: '';
  position: absolute;
  padding-left: 0;
  width: 100%;
  transform: scaleX(0);
  height: 10px;
  z-index: 10;
  border-radius: 20px;
  top: auto;
  bottom: 0;
  left: 0;

  background-image: linear-gradient(-225deg,
      #b3ffab 0%,
      #12fff7 100%);
  transform-origin: bottom left;
  transition: transform 0.5s;

}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#section-4 .container-2 {
  background-color: rgba(255, 255, 255, 0.426);
  width: 45vw;
  height: 32vw;
  list-style: none;
  margin: 2rem;
  padding-top: 1rem;
  border-radius: 20px;
  background-image: linear-gradient(-225deg,
      #1d2b64 0%,
      #f8cdda 100%);
  z-index: -1000;
}

#section-4 h2 {
  position: relative;
  font-family: "Audiowide", sans-serif;
  text-transform: uppercase;
  font-size: 5.5vw;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}
.contact-img{
   height: 32vw;
   margin: 2rem;
   border-radius: 20px;
  display: flex;
}
body { font-family: sans-serif; }

.scene {
  display: inline-block;
  width: 20vw;
  height: 26vw;
/*   border: 1px solid #CCC; */
  margin: 2vw 0;
  perspective: 50vw;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform:  rotateY(-180deg) translateX(10vw);
  
}

.card__face {
  position: absolute;
  width: 30vw;
  height: 32vw;
  border-radius: 20px;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  background-image: url("img/IMG_2943.jpg");
  background-size: cover;
}

.card__face--back {
  background: slateblue;
  transform: rotateY(180deg);
}
.button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}
.button:hover{
  box-shadow: 0 12px 16px 0 rgba(227, 109, 109, 0.24),0 17px 50px 0 rgba(229, 112, 112, 0.19);
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-2{
  flex-basis: 60%;
}
.sub-title{
  font-size: 30px;
}
.tab-title{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #00fff2;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width: 50%;
}
.tab-contents ul li{
  list-style: none;
  font-size: 18px;
  margin: 20px 0;
}
.tab-contents ul li span{
  color: #12fff7;
  font-size: 30px;

}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}