#section-3 #anit {
  color: #ffffff;
}

#section-3 {
  margin: 0;
}

#section-3 .main-title {
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

#section-3 .containers {
  margin-left: auto;
  margin-right: auto;
  /* float: left; */
  width: 30vw;
}

/* @media screen and (max-width: 640px) {
  .containers {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .containers {
    width: 33.33333%;
  }
} */

#section-3 .containers .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

#section-3 .contents {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  transition: 0.7s;
}

/* #section-3 .contents:hover {
  transform: translateY(-10px);
  transform: scale(1.1);

} */

#section-3 .contents .content-overlay {
  background: rgba(0, 0, 0, 0.802);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#section-3 .contents:hover .content-overlay {
  opacity: 1;
}

#section-3 .content-image {
  width: 100%;
  margin: auto;
  border-radius: 0px 0px 20px 20px;
}

#section-3 .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#section-3 .contents:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

#section-3 .content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 4.5vw;
}

#section-3 .content-details p {
  color: #fff;
  font-size: 0.8em;
}

#section-3 .fadeIn-top {
  top: 20%;
}

#section-3 #anit {
  margin-top: 4rem;

}

pt {
  border-right: solid 3px rgba(0, 255, 0, .75);
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Abel';
  font-size: 1rem;
  color: rgba(255, 255, 255, .70);
}

/* Animation */
pt {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 472px;
  }
}

.wrapper {
  margin: 6vw;
  display: flex;
  justify-content: center;
}

.wrapper .first-text {
  font-size: 2vw;
  font-family: 'Abel';
  margin: 0;
  color: #ffffff42;
  /* animation: flick 10s infinite; */
}

@keyframes flick {
  from {
    color: white
  }

  to {
    color: #ffffff42;
  }
}

.wrapper .sec-texts {
  height: 100px;
  line-height: 100px;
  overflow: hidden;
}

.sec-texts li {
  position: relative;
  top: 0;
  font-size: 5.5vw;
  color: #0ef;
  list-style: none;
  padding-left: 25px;
  text-shadow: 0 0 10px #0ef;
  animation: slide 12s steps(4) infinite, colorful 6s infinite;
}

@keyframes slide {
  100% {
    top: -400px;
  }
}

@keyframes colorful {
  100% {
    filter: hue-rotate(360deg);
  }
}

.sec-texts li span {
  position: relative;
}

.sec-texts li span::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px;
  background: #000;
  border-left: 3px solid #0ef;
  animation: typing 1.5s linear infinite alternate;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

.flex-box-3 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
}

.glitch-wrapper {
  padding-top: 20vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000000;
}

.glitch {
  position: relative;
  font-size: 80px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 3px;
  font-family: 'Abel';
  z-index: 1;
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: 100px;
  background-color: #000000;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  color: 100px;
  background-color: #000000;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
  0% {
    clip: rect(61px, 9999px, 52px, 0);
  }

  5% {
    clip: rect(33px, 9999px, 144px, 0);
  }

  10% {
    clip: rect(121px, 9999px, 115px, 0);
  }

  15% {
    clip: rect(144px, 9999px, 162px, 0);
  }

  20% {
    clip: rect(62px, 9999px, 180px, 0);
  }

  25% {
    clip: rect(34px, 9999px, 42px, 0);
  }

  30% {
    clip: rect(147px, 9999px, 179px, 0);
  }

  35% {
    clip: rect(99px, 9999px, 63px, 0);
  }

  40% {
    clip: rect(188px, 9999px, 122px, 0);
  }

  45% {
    clip: rect(154px, 9999px, 14px, 0);
  }

  50% {
    clip: rect(63px, 9999px, 37px, 0);
  }

  55% {
    clip: rect(161px, 9999px, 147px, 0);
  }

  60% {
    clip: rect(109px, 9999px, 175px, 0);
  }

  65% {
    clip: rect(157px, 9999px, 88px, 0);
  }

  70% {
    clip: rect(173px, 9999px, 131px, 0);
  }

  75% {
    clip: rect(62px, 9999px, 70px, 0);
  }

  80% {
    clip: rect(24px, 9999px, 153px, 0);
  }

  85% {
    clip: rect(138px, 9999px, 40px, 0);
  }

  90% {
    clip: rect(79px, 9999px, 136px, 0);
  }

  95% {
    clip: rect(25px, 9999px, 34px, 0);
  }

  100% {
    clip: rect(173px, 9999px, 166px, 0);
  }
}

@keyframes noise-after {
  0% {
    clip: rect(26px, 9999px, 33px, 0);
  }

  5% {
    clip: rect(140px, 9999px, 198px, 0);
  }

  10% {
    clip: rect(184px, 9999px, 89px, 0);
  }

  15% {
    clip: rect(121px, 9999px, 6px, 0);
  }

  20% {
    clip: rect(181px, 9999px, 99px, 0);
  }

  25% {
    clip: rect(154px, 9999px, 133px, 0);
  }

  30% {
    clip: rect(134px, 9999px, 169px, 0);
  }

  35% {
    clip: rect(26px, 9999px, 187px, 0);
  }

  40% {
    clip: rect(147px, 9999px, 137px, 0);
  }

  45% {
    clip: rect(31px, 9999px, 52px, 0);
  }

  50% {
    clip: rect(191px, 9999px, 109px, 0);
  }

  55% {
    clip: rect(74px, 9999px, 54px, 0);
  }

  60% {
    clip: rect(145px, 9999px, 75px, 0);
  }

  65% {
    clip: rect(153px, 9999px, 198px, 0);
  }

  70% {
    clip: rect(99px, 9999px, 136px, 0);
  }

  75% {
    clip: rect(118px, 9999px, 192px, 0);
  }

  80% {
    clip: rect(1px, 9999px, 83px, 0);
  }

  85% {
    clip: rect(145px, 9999px, 98px, 0);
  }

  90% {
    clip: rect(121px, 9999px, 154px, 0);
  }

  95% {
    clip: rect(156px, 9999px, 44px, 0);
  }

  100% {
    clip: rect(67px, 9999px, 122px, 0);
  }
}

.mySlides1,
.mySlides2 {
  display: none
}

#section-3 img {
  border-radius: 20px;
  vertical-align: middle;
  animation: img-change 1s;
  object-fit:scale-down;
  /* transition: 1s linear; */
}
.container-centi{
  width: 100%;
  height: 600px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(206, 110, 110);
  font-weight: bold;
  font-size: 60px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: transparent;
  color: rgb(241, 71, 94);
}

@keyframes img-change {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
