#section-2 .content {
    padding-top: 10%;
    margin-bottom: 5%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

#section-2 .content h2 {
    color: #fff;
    font-size: 6vw;
    position: absolute;
    font-family: 'Abel';
}

#section-2 .content h2:nth-child(1) {
    color: transparent;
    text-align: center;
    font-family: 'Abel';
    -webkit-text-stroke: 2px #03f7ff;
}

#section-2 .content h2:nth-child(2) {
    color: #083042;
    animation: wave 4s ease-in-out infinite;
}

@keyframes wave {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

.row-1 {
    display: flex;
    /* flex-direction:row-reverse; */
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 2vw;
}

.tab-title {
    display: flex;
    margin: 10px 0 40px;
    font-family: 'Abel';
    font-style: italic;
    font-weight: 700;
    color: #00fff2;
}

.tab-links {
    margin-right: 50px;
    font-size: 1.25vw;
    font-weight: 700;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #00fff2;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    font-size: 1.25vw;
    margin: 20px 0;
    color: white;
}

.tab-contents ul li span {
    color: #99fffc;
    font-size: 2.5vw;

}

.tab-contents {
    display: none;
    animation: content-text 1s;
    transition: 1s;
}

.tab-contents.active-tab {
    display: block;

}

.about-text {
    color: white;
    font-family: 'Abel';
    font-style: italic;
    font-weight: 700;
    font-size: 2.1rem;
}

@keyframes content-text {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.location {
    color: white;
    transition: 0.5s;
}

.location:hover {
    color: #ff1361;
}

#section-2 .img-about {
    /* margin-top: 1vw; */
    width: 100%;
    /* height: 60vh; */
    object-fit: cover;
    float: left;
    /* margin-right: 13%;
    margin-top: 3%;
    margin-left: 7%; */
    border-radius: 20px;
    transition: linear 0.5s;
    filter: grayscale(60%);


    /* margin-right: auto; */

}

#section-2 img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);

    /* margin-right: auto; */

}

#section-2 .text-container .text-box p {
    /* text-transform: uppercase; */
    /* font-weight: bold; */
    word-spacing: 10px;
}



.timeline {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 10px;
    background-color: rgb(255, 255, 255);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container-time {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;

}

/* The circles on the timeline */
.container-time::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -14px;
    background-color: white;
    border: 4px solid rgb(218, 67, 97);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid rgb(255, 255, 255);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(255, 255, 255) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content-time {
    color: rgb(227, 69, 100);
    font-size: 30px;
    font-family: 'Abel';
    text-align: center;
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container-time {
        width: 100%;
        /* padding-left: 70px; */
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container-time::before {
        left: 30px;
        border: medium solid rgb(255, 255, 255);
        border-width: 10px 10px 10px 0;
        border-color: transparent rgb(255, 255, 255) transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: -1px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

#section-2 .content-time h2 {
    padding: 5px;
    font-size: 2rem;
    color: #083042
}

.icon-skill {
    width: 100px;
    padding: 5px;
    transition: 0.5s linear;
}

.contain-skills {
    width: 90%;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    /* align-items: center;
    justify-content: center; */
    gap: 2rem;
}

.sch-1 {
    padding-bottom: 1rem;
    width: 50%;
    animation: content-text 1.4s;
    transition: 1s;
}

.sch-2 {
    padding-bottom: 1rem;
    height: 10%;
    animation: content-text 1.4s;
    transition: 1s;
}
#spec{
    color: #ffffff;
}
#ig,
#fb,
#gh {
    font-size: 80px;
    padding: 20px;
    transition: 1s;
}

#ig:hover {
    background: #d62976;
}

#fb:hover {
    background: #4267B2;
}

#gh:hover {
    background: #4c504c;
}
