$primary: #459cc2;
$secondary: #6dcff6;
$accent: #ef4130;
$dark-grey: #353a3e;
$light-grey: #61686d;
$white: #ffffff;
// node-sass src/scss/scss_style.scss -o src/public/css
// sass --watch src/scss/scss_style.scss:src/public/css/scss_style.css
.container-3 {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.card-3 {
  display: inline-block;
  height: 20em;
  font-family: sans-serif;
  color: $dark-grey;
  margin: 0 auto;
  // font-size: 1.2rem;
  text-align: left;

  .main-content-3 {
    position: relative;
    width: 30vw;
    height: 100%;
    background-color: $white;
    margin-top: 0em;
    margin-right: 0px;
    border-radius: 20px 20px 20px 0px;
    transition: margin 0.25s;
  }
  & .image-placeholder {
    border-radius: 20px 0 0 0;
    background-color: $primary;
    height: 10em;
  }
  & .fa {
    font-size: 60px;
  }
  & .card-body-3 {
    // font-size: 30rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 0.5em;
    font-size: 40px;
  }

  & .more-content {
    position: absolute;
    z-index: 1000;
    left: 84%;
    top: 80%;
    height: 3em;
    width: 3em;
    border-radius: 20%;
    background-color: $accent;
    overflow: hidden;

    transition: all 0.25s, box-shadow 0.25s, border-radius 0.05s 0.4s,
      left 0.25s 0s, top 0.25s 0.25s, height 0.25s 0.25s, width 0.25s 0s,
      background-color 0.25s 0s;
  }
  &:hover .more-content {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
  }
  & .more-body {
    text-align: left;
    display: inline-block;
    width: 90%;
    height: 100%;
    overflow: auto;
    float: right;
    opacity: 0;

    transform: translateX(-10px);
  }
  & .more-body h4 {
    margin-top: 18px;
  }
  & .more-body p {
    padding-right: 3em;
  }
  & .button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height: 2em;
    width: 2em;
    line-height: 2em;
    font-weight: bold;
    font-size: 1.5em;
    color: $white;
    border-radius: 100%;

    transition: color 0.25s 0.1s;
  }
  & .rotate {
    transition: transform 1.25s;
  }
}

.main-content.active {
  margin-right: 30em;
  transition: all 0.25s 0.35s;
}
.more-content.expanded {
  z-index: 1000;
  left: 100%;
  top: -3%;
  border-radius: 0;
  height: 106%;
  width: 30em;
  background-color: $white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);

  transition: all 0.25s, left 0.25s 0s, top 0.25s 0.1s, height 0.25s 0.1s,
    width 0.25s 0.35s;

  .button {
    color: $accent;

    transition: color 0.25s 0.1s;
  }
  &:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  }
  & .rotate {
    transform: rotate(495deg);

    transition: transform 1.25s;
  }

  & .more-body {
    opacity: 1;
    transform: translateX(0px);

    transition: all 0.25s 0.65s;
  }
}
